name: Test Docker image

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Build the Docker image
        run: |
          docker run -i $(docker build -q 12) /bin/sh -c "node --version && npm --version && google-chrome --version && google-chrome --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 12/slim) /bin/sh -c "node --version && npm --version && google-chrome --version && google-chrome --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 12/alpine) /bin/sh -c "node --version && npm --version && chromium-browser --version && chromium-browser --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 14) /bin/sh -c "node --version && npm --version && google-chrome --version && google-chrome --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 14/slim) /bin/sh -c "node --version && npm --version && google-chrome --version && google-chrome --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 14/alpine) /bin/sh -c "node --version && npm --version && chromium-browser --version && chromium-browser --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 16) /bin/sh -c "node --version && npm --version && google-chrome --version && google-chrome --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 16/slim) /bin/sh -c "node --version && npm --version && google-chrome --version && google-chrome --headless --no-sandbox --disable-gpu --screenshot https://github.com"
          docker run -i $(docker build -q 16/alpine) /bin/sh -c "node --version && npm --version && chromium-browser --version && chromium-browser --headless --no-sandbox --disable-gpu --screenshot https://github.com"
